body {
  background-color: black;
  color: white;
  margin: 10px;
}

.banner {
  background-image: url("./assets/bg.png");
  background-size: cover;
  width: auto;
  height: 100vh;
}

.list {
  list-style: none;
  display: flex;
  justify-content: start;
  font-weight: 800;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.banner-container {
  width: 50%;
  text-align: center;
  padding-top: 5rem;
  padding-left: 25%;
  padding-right: 25%;
}

h1 {
  font-size: 80px;
  margin-bottom: 0;
}

p {
  font-size: 1.25rem;
}

.btn {
  color: white;
  background-color: #bb23c5;
  padding: 10px 30px;
  border: none;
  border-radius: 2em;
}

.logo {
  width: 60%;
  margin: 16px;
  margin-left: 40px;
}

.list-item {
  padding: 10px 40px;
}

.nav-button {
  margin-top: 16px;
}
