body {
  background-color: black;
  color: white;
  margin: 10px;
  font-family: poppins;
  height: 150vh;
}

.lines {
  margin-top: 10px;
  height: 48px;
  border: 1px solid grey;
}

.banner {
  background-image: url("./assets/bg.png");
  background-size: cover;
  width: auto;
  height: 150vh;
}

.list {
  list-style: none;
  display: flex;
  justify-content: start;
  font-weight: 400;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
}

.banner-container {
  width: 50%;
  text-align: center;
  padding-top: 5rem;
  padding-left: 25%;
  padding-right: 25%;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

p {
  font-size: 1.25rem;
}

.btn {
  color: white;
  background-color: #bb23c5;
  padding: 10px 30px;
  border: none;
  border-radius: 13px;
}

.nav-button {
  margin-left: 120px;
}

.logo-div {
  margin-top: 5px;
}
.logo {
  width: 50%;
  margin: 16px;
  margin-left: 50px;
}

.list-item {
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
}

.nav-button {
  height: 40px;
  margin-top: 16px;
  font-size: 16px;
}

.banner-button {
  margin-top: 20px;
  font-size: 20px;
}

.btn:hover {
  transform: scale(1.08);
  transition: transform 0.2s ease-in-out;
  color: bisque;
  cursor: pointer;
}

.list-item:hover {
  color: bisque;
}

/* Font */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
