body {
  background-color: black;
  color: white;
  margin: 10px;
}

.banner {
  background-image: url("./assets/bg.png");
  background-size: cover;
  width: auto;
  height: 100vh;
}

.list {
  list-style: none;
  display: flex;
  justify-content: start;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.banner-container {
  text-align: center;
}

h1 {
  font-size: 40px;
}

.btn {
  color: white;
  background-color: #bb23c5;
}

.logo {
  width: 60%;
  margin: 16px;
  margin-left: 40px;
}

.list-item {
  padding: 10px 40px;
}
